.progressBarContainer {
    display: flex;
    border-style: solid;
    border-radius: 2px;
    border-width: 2px;
    width: 40px;
    height: 10px;
    align-items: center;
    
}

.progressBar {
    height: 8px;
    background-color: black;
    margin-left: 1px;
}

.progressBarContainerBig {
    display: flex;
    border-style: solid;
    border-radius: 2px;
    border-width: 3px;
    width: 140px;
    height: 30px;
    align-items: center;
}

.progressBarBig {
    height: 26px;
    background-color: black;
    margin-left: 2px;
}